<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Apps</h2>
                    <h3 class="section-subheading text-muted">We work hard every day to make life of our users better and happier</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x" style="display:inline-block;">
                        <a href="https://apps.apple.com/app/color-old-photos-ai-restore/id1626069820">
                            <img src="{{ site.baseurl }}/img/apps/ai-magic.png"></img>
                        </a>
                    </span>
                    <h4 class="service-heading">AI Magic</h4>
                    <p class="text-muted">
                        Transform your old black-and-white photos into vibrant,
                        colorful memories with our AI-powered image colorization and
                        enhancement mobile app, using state-of-the-art technology to
                        bring your pictures to life like never before.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x" style="display:inline-block;">
                        <a href="https://apps.apple.com/app/dream-meanings-dreamy-aid/id1642319715">
                            <img src="{{ site.baseurl }}/img/apps/dreamy.png"></img>
                        </a>
                    </span>
                    <h4 class="service-heading">Dreamy</h4>
                    <p class="text-muted">
                        Unlock the hidden messages of your dreams with our dream interpretation mobile app,
                        featuring an intuitive interface and expert analysis to guide you on a journey of self-discovery.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x" style="display:inline-block;">
                        <a href="https://apps.apple.com/app/massage-me-vibrating-massager/id1553665007">
                            <img src="{{ site.baseurl }}/img/apps/massage-me.png"></img>
                        </a>
                    </span>
                    <h4 class="service-heading">Massage Me</h4>
                    <p class="text-muted">
                        Relax and unwind with our vibrating massage app mobile application,
                        offering a personalized massage experience with adjustable intensity
                        levels and a variety of soothing vibrations to help you destress and feel rejuvenated.
                    </p>
                </div>
            </div>
        </div>
    </section>